.w50 {
  width: 50px;
}

.h50 {
  height: 50px;
}

.bg-red {
  background-color: red;
}

.pos-a {
  position: absolute;
}

.ba {
  border-style: solid;
  border-width: 1px;
}

.b--dashed {
  border-style: dashed;
}

.pos-r {
  position: relative;
}

.dib {
  display: inline-block;
}
