.h50 { height: 50px; }
.w50 { width: 50px; }

.b--dashed { border-style: dashed; }

.bg-red { background-color: red; }

.dib { display: inline-block; }

.absolute { position: absolute; }
.relative { position: relative; }
